# sudo apt install vlc

Adafruit-Blinka==6.10.3
adafruit-circuitpython-busdevice==5.0.6
adafruit-circuitpython-pn532==2.3.3
Adafruit-PlatformDetect==3.14.2
Adafruit-PureIO==1.1.9
asn1crypto==0.24.0
certifi==2018.8.24
chardet==3.0.4
cryptography==2.6.1
entrypoints==0.3
fbi==0.1a7
idna==2.6
keyring==17.1.1
keyrings.alt==3.1.1
py532lib==2018.6.14.dev1
pyasn1==0.4.8
pycrypto==2.6.1
pyftdi==0.53.1
PyGObject==3.30.4
pyserial==3.5
python-apt==1.8.4.1
pyusb==1.1.1
pyxdg==0.25
requests==2.21.0
rpi-ws281x==4.3.0
RPi.GPIO==0.7.0
rsa==4.6
SecretStorage==2.3.1
six==1.12.0
ssh-import-id==5.7
sysv-ipc==1.1.0
urllib3==1.24.1
